[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycli = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-image = "*"
ipykernel = "*"
cellpose = "*"

[dev-packages]

[requires]
python_version = "3.8"
